*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: blueviolet;
}

main{
    background-color: #000;
    width: 500px;
    margin: 100px auto 0;
}

main #screen{
    background-color: #fff;
    font-size: 40px;
    text-align-last: right;
    padding: 10px;
    height: 20px;
}

main #btns{
    display: flex;
    flex-wrap: wrap;
}

main #btns .btn{
    width: 25%;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    text-align: right;

}

main #btns .btn:hover{
    cursor: pointer;
    border: 1px solid #fff;
}