body{ /* elementos principales */
        background-color: grey;
    }

h1{ /* elementos principales */
        color: white;
    }

p{ /* elementos principales */
        color:rgb(5, 0, 3);
    }

#paragraph2{ /* id */
        color:rgb(23, 20, 220);
}    

#paragraph3{   /* id */
    color:rgb(200, 220, 20);
} 

/*
#paragraph5,
#paragraph6
    {
    color:goldenrod;
} */

.amarillo{ /* clase */
    color: greenyellow;
}

