*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

header{
    background-color: purple;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: green;
    padding: 10px;
    
}

ul{
    list-style-position: inside;
    
}

ul li{
    color: whitesmoke;
    list-style-type: none;
    background-color: turquoise;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 3px;

}

table{
        border-collapse: collapse;
}

td{
    border: 1px solid black;
}

div{
   /*  background-color: rgb(221, 88, 88); */
   /*  border: 1px solid black; */
   /*  display: inline-block; */
    float: left;
    width: 50%;
    box-sizing: border-box;
    
}

img{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: yellow;
}

#sec2 div{
    /* background-color: rgb(46, 12, 240); */
    color: green;
    display: block;
    float: left;
}